/*
Author: Demi van Run
Date: 7-2-2024
File Name: styles.css
*/

/* CSS Reset */
body,
header,
nav,
main,
footer,
h1,
div,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    max-width: 100vw;
    background-color: #d1e0d3;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Protest Guerrilla', sans-serif;
}

/* Style rules for header */
header {
    padding: 3% 5%;
    color: #87b58f;
    background-color: #0d2f0c;
    height: 100px;
}

#title {
    padding: 2% 1%;
    text-align: center;
}

#picture {

    overflow: hidden;
    width: 7em;
    height: 7em;
    border-radius: 50%;

}

#SelfPortrait {
    max-width: 150%;
    margin: 50% 50%;
    transform: translate(-50%, -50%);
}

/* Style rules for navigation area */
nav {
    background-color: #0d2f0c;
    padding: 0;

    top: 0;
    left: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    text-align: center;
}

nav li {
    border-top: 1px solid #87b58f;
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: 800;
}

nav li a {
    display: block;
    color: #87b58f;
    padding: 0.5em 2em;
    text-decoration: none;
    margin: 0%;
}


/* nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: 800;
}

nav li a {
    display: block;
    color: #87b58f;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li a:hover,
footer a:hover {
    color: #14a51e;
} */

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

/* Style rules for main content */
main {
    text-align: center;
    padding: 4% 0;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1em;
}

main p a {
    text-decoration: none;
    color: #14a51e;
    font-weight: 700;
}

h5 {
    text-align: center;
}



#photo-about {

    overflow: hidden;
    width: 20em;
    height: 20em;
    margin: 2% auto;
    border-radius: 3%;
}

#photo-about img {
    max-width: 150%;
    margin: 50% 50%;
    transform: translate(-50%, -50%);
}

#sec {
    margin: 0 auto;
    padding: 0 10%;
}

#section1 {
    width: 80%;
    margin: 4% 10%;
    float: left;
}

#section2 {
    text-align: left;
    padding-top: 2%;
    margin: 3% 15%;
    display: block;
    clear: left;
}

#contact {
    padding: 5% 2%;
    margin: 0 0;
}


#contact p:first-child {
    word-spacing: 0.8em;
    line-height: 2em;
    margin: 2em 0 0 0;
}

#contact p:last-child {
    margin: 0 0 0 0;
}

#contact p iframe {
    margin: 2em 0 0 0;
    max-width: 100%;
}

.container {
    height: fit-content;
}

#projects {
    margin: 0 auto;
    width: 80%;

}

.project {
    color: white;

    width: 100%;
    padding: 4% 4%;
    margin: 8% 0;
    border-radius: 4%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.project h4 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: large;
}


.project p {
    display: block;


}

.photos {
    margin: 8% auto;
    border-radius: 6%;
    width: 100%;
}

.grid-container {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: auto;
    column-gap: 2%;
}

#Vr {
    background-image: url("../images/Vr.jpg");
}

#cbs {
    background-image: url("../images/Multimedia-cbs.png");
}

#museum {
    background-image: url("../images/museum.png");
}

#intern {
    background-image: url("../images/intern.png");
}

#steam {
    background-image: url("../images/STEAM.jpg");
}

#festival {
    background-image: url("../images/maastricht.jpg");
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.9em;
    background-color: #0d2f0c;
    color: #87b58f;
    padding: 1.5% 0;
}

footer a {
    margin: 0 2%;
    font-weight: bold;
    color: #87b58f;
    text-decoration: none;
}

/* Media Query for Tablet Viewport. */
@media screen and (min-width: 620px),
print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class*/
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rules for nav area*/
    #picture {
        float: left;
    }

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }

    nav li a {
        padding: 0.5em;
    }

    #projects {
        width: 60%;
    }

    .photos {
        margin: 8% auto;
        border-radius: 6%;
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 2%;
    }

}

/* Media Query for Desktop Viewport.*/
@media screen and (min-width: 1000px),
print {

    /*Desktop Viewport: Style rules for nav area.*/
    nav ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
    }

    nav li {
        display: inline-block;
        font-size: 1.25em;
        font-family: Geneva, Arial, sans-serif;
        font-weight: 800;
    }

    nav li a {
        display: block;
        color: #87b58f;
        padding: 0.5em 2em;
        text-decoration: none;
    }

    nav li a:hover,
    footer a:hover {
        color: #14a51e;
    }

    /* Desktop Viewport: Style rules for main content.*/
    #projects {
        margin: 0 auto;
        width: 85%;

    }

    .project {
        color: white;
        float: inline-start;
        height: 300px;
        width: 34%;
        padding: 5% 4%;
        margin: 2% 2%;
        border-radius: 4%;

    }

    #projects h5 {
        clear: left;
    }

    .project p {
        opacity: 0%;
    }

    .project:hover p {
        opacity: 100%;
    }

    #photo-about {
        float: left;
        margin: 3% 0 0 10%;
    }

    #section1 {
        width: 40%;
    }

    #sec {
        width: 60%;
    }

    main p a:hover {
        color: #0d2f0c;
    }

    .photos {
        margin: 8% 5%;
        border-radius: 6%;
        width: 100%;
        display: block;
        float: left;
    }

    footer {
        clear: left;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 3%;
    }

}

/* Media Query for Large Desktop Viewports. */
@media screen and (min-width: 1821px) {


    main {
        width: 1820px;
        margin: 0 auto;
    }

}

/* Media Query for Print. */
@media print {
    body {
        background-color: white;
        color: black;
    }
}